@use "../abstracts" as *;

.gift {
  @include flex($direction: column, $align: center);
  @extend %cursor-pointer;
  @extend %transition;
  width: 31rem;
  height: 34.2rem;
  border-radius: 2rem;
  background: $color-content-background;
  @media (hover: hover) {
    &:hover {
      .best-gift__name {
        color: $color-primary;
      }
    }
  }
  &_hidden {
    display: none;
  }
}

.gift__image {
  @include flex($align: center);
  width: 31rem;
  height: 23rem;
  flex-shrink: 0;
  border-radius: 2rem;

  img {
    border-radius: 2rem;
    width: 100%;
  }
}

.gift__content {
  @include flex($direction: column, $align: flex-start, $gap: 0.8rem);
  padding: 2rem;
  flex: 1 0 0;
  align-self: stretch;
  background-color: $color-light;
  border-radius: 2rem;
}

.gift__description {
  color: $color-dark;
  align-self: stretch;
}

.gift__category--work {
  color: $color-work-tag;
}

.gift__category--health {
  color: $color-health-tag;
}

.gift__category--harmony {
  color: $color-harmony-tag;
}

.gift__name {
  @extend %transition;
  color: $color-dark;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}

//GIFT MODAL DATA
.gift-modal__image {
  @include flex($direction: column, $align: center, $justify: center);
  height: 23rem;
  align-self: stretch;
  border-radius: 2rem;
  flex-shrink: 0;
  overflow: hidden;
  img {
    border-radius: 2rem;
    width: 100%;
    flex: 1 0 0;
    align-self: stretch;
  }
}

.gift-modal__content {
  @include flex($direction: column, $align: flex-start, $gap: 2rem);
  align-self: stretch;
  border-radius: 20px;
  background: $color-light;
  padding: 2rem;
}

.gift-modal__information {
  @include flex($direction: column, $align: flex-start, $gap: 0.8rem);
  align-self: stretch;
}

.gift-modal__superpowers {
  @include flex($direction: column, $align: flex-start, $gap: 0.8rem);
  align-self: stretch;
}

.superpowers-container {
  @include flex($direction: column, $align: flex-start);
  align-self: stretch;
}

.superpower {
  @include flex($align: center, $gap: 1.2rem);
  align-self: stretch;
  color: $color-dark;
}

.superpower__name {
  flex: 1 0 0;
}

.superpower__showflakes {
  @include flex($align: flex-start, $gap: 0.8rem);
}

.gift-placeholder {
  background: linear-gradient(90deg, #f3f3f3 25%, #ececec 50%, #f3f3f3 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  width: 31rem;
  height: 34.2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
