@use "../abstracts" as *;

.hamburger {
  display: none;
  @extend %cursor-pointer;
  @extend %transition;
  @include media-tablet-burger {
    position: relative;
    @include flex(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 0.6rem
    );
    width: 4rem;
    height: 4rem;
  }
  &.active {
    .hamburger__line_top {
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      left: 50%;
    }
    .hamburger__line_bottom {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: 50%;
      left: 50%;
    }
  }
}

.hamburger__line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2rem;
  background-color: $color-dark;
  height: 0.1rem;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform-origin: center;

  &_top {
    top: 1.6rem;
  }

  &_bottom {
    top: calc(100% - 1.6rem);
  }
}
