@use "../abstracts" as *;
.header {
  background: $color-light;
}

.header__wrapper {
  @include flex($justify: center, $align: center, $gap: 1.2rem);
  max-width: 127.6rem;
  padding: 1.2rem 0;
  align-self: stretch;
}

.header__logo-line {
  @include media-tablet-burger {
    position: relative;
    z-index: 1001;
    width: 100%;
    @include flex($gap: 1.2rem);
  }
}

.header__hamburger {
  @include flex($justify: flex-end);
  flex: 1 0 0;
  align-self: stretch;
}
