@use "../abstracts" as *;

.page__wrapper {
  max-width: $content-width;
  margin: auto;
  //   @include media-laptop {
  //     padding: 0 46px;
  //   }
  //   @include media-mobile {
  //     padding: 0 21px;
  //   }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8.2rem;
}
