$color-primary: #ff4646;
$color-light: #ffffff;
$color-dark: #181c29;
$color-tab-hoovered: #ffffff33;
$color-item-hovered: #ff46461a;
$color-light-opacity: #ffffff66;
$color-work-tag: #4361ff;
$color-health-tag: #06a44f;
$color-harmony-tag: #ff43f7;
$color-content-background: #ecf3f8;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 564px;
$mobile-width: 380px;
