%transition {
  transition: all 0.4s ease-out;
}

%cursor-pointer {
  cursor: pointer;
}

%font-primary {
  font-family: "Montserrat", Verdana, sans-serif;
}

%font-caption {
  font-family: "Allura", Verdana, sans-serif;
}
