@use "../abstracts" as *;

.about {
  padding: 6rem 0;
  background-image: url("../img/backgrounds/bg-snow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__wrapper {
  @include flex($align: center);
  max-width: 127.6rem;
  flex: 1 0 0;
  border-radius: 2rem;
  background: $color-light;
  @include media-mobile {
    @include flex($direction: column, $justify: center, $align: flex-start);
  }
}

.about__image {
  @include flex($direction: column, $justify: center, $align: center);
  height: 52.8rem;
  flex: 1 0 0;
  border-radius: 2rem;
  width: 50%;
  overflow: hidden;
  @include media-mobile {
    align-self: stretch;
    flex: 0 1 auto;
  }
  img {
    border-radius: 2rem;
    width: 63.8rem;
    height: 52.8rem;
    flex-shrink: 0;
  }
}

.about__content {
  @include flex($direction: column, $justify: center, $align: flex-start);
  padding: 0 6rem;
  flex: 1 0 0;
  align-self: stretch;
  width: 50%;
  @include media-mobile {
    padding: 0 2rem;
    flex: 0 1 auto;
  }
}

.about__content__wrapper {
  @include flex($direction: column, $justify: center, $align: flex-start);
  max-width: 42.6rem;
  padding: 6rem 0;
  gap: 2rem;
  align-self: stretch;
}

.about__caption {
  color: $color-primary;
}
