@use "../abstracts" as *;

.about {
  padding: 6rem 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   align-self: stretch;
}

.about__wrapper {
  display: flex;
  max-width: 127.6rem;
  align-items: center;
  flex: 1 0 0;
  border-radius: 2rem;
  background: $color-light;
}

.about__image {
  width: 63.8rem;
  height: 52.8rem;
  flex-shrink: 0;
  border-radius: 2rem;
}

.about__content {
  display: flex;
  padding: 0 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.about__content__wrapper {
  display: flex;
  max-width: 42.6rem;
  padding: 6rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.about__caption {
  color: $color-primary;
}
