@use "../abstracts" as *;

.best-gifts {
  padding: 6rem 0;
  background-image: url("../img/backgrounds/bg-snow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.best-gifts__wrapper {
  @include flex($direction: column, $align: center, $gap: 1.9rem);
  max-width: 127.6rem;
  align-self: stretch;
}

.best-gifts__content {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 1.2rem
  );
  max-width: 42.6rem;
  align-self: center;
  color: $color-light;
}

.gifts-container {
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}