@use "../abstracts" as *;

.best-gifts {
  padding: 6rem 0;
}

.best-gifts__wrapper {
  display: flex;
  max-width: 127.6rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.best-gifts__content {
  display: flex;
  max-width: 42.6rem;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  align-self: center;
  color: $color-light;
}

.best-gifts-container {
  align-self: stretch;
}

.best-gift {
  display: flex;
  width: 31rem;
  height: 34.2rem;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background: $color-light;
}

.best-gift__image {
  display: flex;
  width: 31rem;
  height: 23rem;
  align-items: center;
  flex-shrink: 0;
  background: $color-content-background;
  border-radius: 2rem;

  img {
    border-radius: 2rem;
    width: 100%;
  }
}

.best-gift__content {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  flex: 1 0 0;
  align-self: stretch;
}

.best-gift__category--work {
  color: $color-work-tag;
}

.best-gift__category--health {
  color: $color-health-tag;
}

.best-gift__category--harmony {
  color: $color-harmony-tag;
}

.best-gift__name {
  color: $color-dark;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}
