@use "../abstracts" as *;

.hero {
  @include flex($justify: center, $align: center);
  background-image: url(../img/backgrounds/bg-ball.png),
    url(../img/backgrounds/bg-snow.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;

  padding: 6rem 0;
  align-self: stretch;
}

.hero__content {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 1.2rem
  );
  max-width: 42.88rem;
  align-self: stretch;
  padding: 6rem 0;
}

.hero__caption {
  color: $color-light;
}

.hero__header {
  color: $color-light;
  text-align: center;
}
