@use "../abstracts" as *;

.navigation {
  @include flex($align: center, $gap: 0.8rem);
  padding-left: 0;
  @include media-tablet-burger {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.navigation__link {
  @extend %transition;
  @extend %cursor-pointer;
  list-style: none;
  padding: 1.2rem 2rem;
  color: $color-dark;
  border-radius: 12px;
  a {
    color: $color-dark;
  }
  @media (hover: hover) {
    &:hover {
      a {
        color: $color-primary;
      }
      background-color: $color-item-hovered;
    }
  }
  &_active {
    pointer-events: none;
    a {
      color: $color-primary;
    }
    background: $color-item-hovered;
  }
}

.header__navigation {
  @include flex($justify: flex-end, $align: center);
  flex: 1 0 0;
  align-self: stretch;
  @include media-tablet-burger {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh - 5rem);
    background-color: $color-light;
    z-index: 1000;
    transition: right 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      right: 0;
      height: 100%;
    }
  }
}

a {
  text-decoration: none;
}
