@use "../abstracts" as *;

.slider {
  padding: 6rem 0;
}

.slider__wrapper {
  display: flex;
  max-width: 127.6rem;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.slider__content {
  display: flex;
  max-width: 42.6rem;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1.2rem;
  color: $color-light;
}

.slider__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  margin-right: calc(-8.2rem);
  overflow: hidden;
}

.slider__track {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.slider__item__image {
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  flex-shrink: 0;
}

.slider__item__text {
  color: $color-light;
}

.image-showman {
  background-image: url(../img/slider-images/snowman.png);
  background-size: cover;
}

.image-christmas-trees {
  background-image: url(../img/slider-images/christmas-trees.png);
  background-size: cover;
}

.image-christmas-tree-ball {
  background-image: url(../img/slider-images/christmas-tree-ball.png);
  background-size: cover;
}

.image-fairytale-house {
  background-image: url(../img/slider-images/fairytale-house.png);
  background-size: cover;
}

.slider__arrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  align-self: end;
}
